@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/rodapé.css");

:root {
    --cor-de-fundo: #927e5f;
    --branco: #1d2c27;
    --laranja: #01472c;
    --azulll: #A28A66;
    --fonte-principal: "bold";
    --vinho: #a1b8db;
    --fonte-secundario: "Josefin Sans";
    --preto: #000000;
    --cinza: #474646;
    --cinza-claro: #858585;
    --cabecalho: #1d2c27;
    --letras: #00ffa6;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}